html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 15px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: Montserrat;
}
/* HIDDEN CONTENT */

/* HINTSS */
.hints{
  align-items: center;
  
}
.hint1{
  display: none;

}
.hint2{
  display: none;

}
.hint3{
  display: none;

}
.hint4{
  display: none;

}
/* HINTSS */

/* GUESSES */
.guess1{
  font-size: 20px;
  border-radius: 10px;
  border-color: black;
  display: none;
}
.guess2{
  font-size: 20px;
  border-radius: 10px;
  border-color: black;
  display: none;
}
.guess3{
  font-size: 20px;
  border-radius: 10px;
  border-color: black;
  display: none;
}
.guess4{
  font-size: 20px;
  border-radius: 10px;
  border-color: black;
  display: none;
}
/* GUESSES */

.hide{
  display : none;
  margin-left: auto;
}
#pkmnCard{
  display: none;
  width: 233.333;
  height: 330;
}

.winORlose{
  display: none;
}

.BFD{
  display: grid;
  
  /* grid: auto-flow / 1fr 1fr 1fr; */
  /* gap: 50px;                   
 height: 100vh;  */
}
/* HIDDEN CONTENT */
